printInvoice:
	title: Invoice
	supplier: Supplier
	ico: Company ID
	dic: VAT number
	invoice: INVOICE no.
	variable: Variable symbol
	constant: Constant symbol
	receiver: Purchaser
	bankConnection: Bank Account
	bank: Bank
	accountNumber: Account Number
	dueDate: Due date
	formOfPayment: Method of payment
	transfer: bank transfer
	cash: cash
	dateIssue: Issue date
	taxDate: Taxe date
	item: Item
	price: Price
	amount: Quantity
	vat: VAT
	priceWithoutVat: Price without VAT
	priceTotal: Total price
	phone: Phone
	email: Email
