printInvoice:
	title: Rechnung
	supplier: Lieferant
	ico: IN
	dic: TIN
	invoice: 'Steuerbeleg (Rechnung) Nr.'
	variable: Variables Symbol
	constant: Konstantes Symbol
	receiver: Empfänger
	bankConnection: Bankverbindung
	bank: Bank
	accountNumber: Kontonummer
	dueDate: Zahlungsfälligkeit
	formOfPayment: Zahlungsart
	transfer: Überweisung
	cash: in bar
	dateIssue: Ausstellungsdatum
	taxDate: Zeitpunkt der Leistung / Zahlungsbestätigung
	item: Position
	price: Preis
	amount: Anzahl
	vat: MwSt
	priceWithoutVat: Preis ohne MwSt
	priceTotal: Gesamtpreis
	phone: Telefon
	email: Email
