printInvoice:
	title: Faktura
	supplier: Dodavatel
	ico: IČO
	dic: DIČ
	invoice: 'Daňový doklad (faktura) č.'
	variable: Variabilní symbol
	constant: Konstantní symbol
	receiver: Odběratel
	bankConnection: Bankovní spojení
	bank: Banka
	accountNumber: Číslo účtu
	dueDate: Datum splatnosti
	formOfPayment: Forma úhrady
	transfer: převodem
	cash: hotově
	dateIssue: Datum vystavení
	taxDate: Datum uskutečnění zdanitelného plnění / přijetí úplaty
	item: Položka
	price: Cena
	amount: Počet
	vat: DPH
	priceWithoutVat: Cena bez DPH
	priceTotal: Celková cena
	phone: Telefon
	email: Email
