printInvoice:
	title: Faktúra
	supplier: Dodávateľ
	ico: IČO
	dic: DIČ
	invoice: 'Daňový doklad (faktúra) č.'
	variable: Variabilný symbol
	constant: Konštantný symbol
	receiver: Odberateľ
	bankConnection: Bankové spojenie
	bank: Banka
	accountNumber: Číslo účtu
	dueDate: Dátum splatnosti
	formOfPayment: Forma úhrady
	transfer: prevodom
	cash: hotovosti
	dateIssue: Dátum vystavenia
	taxDate: Dátum uskutočnenia zdaniteľného plnenia / prijatie úhrady
	item: Položka
	price: Cena
	amount: Počet
	vat: DPH
	priceWithoutVat: Cena bez DPH
	priceTotal: Celková cena
	phone: Telefón
	email: Email

